{% extends 'base.html' %}

{% block content %}

  <a href="{% url 'posts:post_new'%}">Add</a>




<!--
  <form class="searchfield" action="{% url 'posts:cat_search' pk="'x'"%}" method="get">
    <button  type="submit" name="button">
      <i class="fa fa-search"></i>
    </button>
    <input class="searchfield" id="searchbox" name='q' type="text" placeholder="Search">

  </form>
-->

  {% for post in post_list %}

       <a href="{% url 'posts:post_detail' pk=post.pk%}">{{ post.body }}</a>
        {{ post.label.id}}
        {{post.created_date}}
        {{post.text}}



  {% endfor%}




{% endblock %}
